html {
    font-family: "Robot", sans-serif;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.5;
    scroll-behavior: smooth;
}

.table-of-contents {
    margin-bottom: 40px;
}

.table-of-contents .toc-heading {
    font-size: 24px;
    font-weight: bold;
    color: #003049;
}

.table-of-contents a {
    text-decoration: none;
    color: #18445f;
}

.table-of-contents ul {
    list-style: none;
    padding-left: 0;
    color: #003049;
    text-transform: uppercase;
}

.table-of-contents .heading {
    font-size: 14px;
    font-weight: bold;
    position: relative;
}

.table-of-contents ul li {
    margin: 16px 0;
}

.table-of-contents .headings-container {
    padding-left: 16px;
    border-left: 1px solid #003049;
}

.table-of-contents .heading::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background: #18445f;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
}

body {
    background-color: #f6f6f6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* Adjust padding as needed */
    background-color: #fff; /* Optional: Add background color to the header */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow to the header */
}

header .home,
header .nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px; 
}

header .home li,
header .nav li {
    display: inline-block;
}

header .nav {
    margin-left: auto;
}

header .home li a,
header .nav li a {
    text-decoration: none;
    padding: 10px;
    display: block;
}

header .nav {
    float: right;
}


