* {
    text-decoration: none;
    color: #f6f6f6;
    font-family: "Arial";
}

body {
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: lighter; 
}

html {
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.5;
    scroll-behavior: smooth;
    background: #28282B;
    color: #f6f6f6;
    text-decoration: none;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

nav li {
    height: 50px;
}

nav ul li a {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 28px;
    position: relative;
}

nav ul li:first-child {
    margin-right: auto;
}

.item a::after{
    content: '';
    width: 0;
    height: 1px;
    background: #f6f6f6;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: .4s;
}

.item a:hover::after{
    width: 100%;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100px;
    max-height: 175px; 
    overflow-y: auto;
    z-index: 999;
    background-color: black;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    margin-right: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
    font-size: 16px;
}

.menu-button{
    display: none;
    text-align: right;
}

@media(max-width: 600px) {
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: inline-block;
    }
}

.standard-sidebar .menu-button {
    margin-right: 50px;
}

