body {
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: lighter; 
}

html {
    font-family: "Arial";
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.5;
    scroll-behavior: smooth;
}

.table-of-contents {
    margin-bottom: 40px;
}

.table-of-contents .toc-heading {
    font-size: 24px;
    font-weight: bold;
    color: #003049;
}

.table-of-contents a {
    text-decoration: none;
    color: #18445f;
}

.table-of-contents ul {
    list-style: none;
    padding-left: 0;
    color: #003049;
    text-transform: uppercase;
}

.table-of-contents .heading {
    font-size: 14px;
    font-weight: bold;
    position: relative;
}

.table-of-contents ul li {
    margin: 16px 0;
}

.table-of-contents .headings-container {
    padding-left: 16px;
    border-left: 1px solid #003049;
}

.table-of-contents .heading::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background: #18445f;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
}

body {
    background-color: #f6f6f6;
}


nav {
    background-color: #f6f6f6;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover {
    text-decoration: underline;
}

nav li:first-child {
    margin-right: auto;
}
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100px;
    max-height: 175px; 
    overflow-y: auto;
    z-index: 999;
    background-color: #f6f6f6;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    margin-right: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button{
    display: none;
    text-align: right;
}

@media(max-width: 600px) {
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: inline-block;
    }
}

.home-link {
    font-size: 150%; 
    margin-left: -40px;
}

.standard-sidebar .menu-button {
    margin-right: 50px;
}
.standard-sidebar .blog-link {
    margin-right: 50px;
}

nav::after {
    content: '';
    height: 1px;
    width: 100%;
    background-color: #bdbfc1;
    display: block;
}
  